<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<form action="#" th:action="@{/user-registration}" th:object="${user}" method="post">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Username">

    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">

    <label>
        <select size="3" name="role" id="roles" multiple="multiple">
            <option disabled>Roles:</option>
            <option value="ROLE_ADMIN">ADMIN</option>
            <option selected value="ROLE_USER">USER</option>
        </select>
    </label>

    <input type="submit" value="Register User">
</form>
</body>
</html>