<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Admin Panel</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Users</title>
</head>

<body class="bg-light">
<div class="modal fade" id="editingModal" tabindex="-1" role="dialog" aria-labelledby="editingModalTitle" aria-hidden="true">
  <form action="#" method="post" th:action="@{/admin/user-update}" th:object="${user1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editingModalTitle">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label" style="display: block;
                                                                        text-align: center;"><b>ID</b></label>
          <input readonly class="form-control" id="id2"
                 name="id"
                 type="text"
                 th:value="${user1.id}"/>
        </div>
        <div class="form-group">
          <label class="col-form-label" style="display: block;
                                                                        text-align: center;"><b>Name</b></label>
          <input class="form-control" id="name2"
                 name="name"
                 type="text"
                 th:value="${user1.name}"/>
        </div>

        <div class="form-group">
          <label class="col-form-label" style="display: block;text-align: center;"><b>Last name</b></label>
          <input class="form-control" id="surname2"
                 name="surname"
                 type="text"
                 th:value="${user1.surname}"/>
        </div>

        <div class="form-group">
          <label class="col-form-label" style="display: block;
                                                                        text-align: center;"><b>Age</b></label>
          <input class="form-control" id="age2"
                 name="age"
                 type="number" step="1" min="1"
                 max="150"
                 th:value="${user1.age}"/>
        </div>

        <div class="form-group">
          <label class="col-form-label" style="display: block;
                                                                        text-align: center;"><b>Email</b></label>
          <input class="form-control" id="email2"
                 name="email"
                 type="text"
                 th:value="${user1.email}"/>
        </div>
        <div class="form-group">
          <label class="col-form-label" style="display: block;
                                                                        text-align: center;"><b>Password</b></label>
          <input class="form-control" id="password2"
                 name="password"
                 type="password"
                 th:value="${user1.password}"/>
        </div>
        <div class="form-group">
          <label class="col-form-label" style="display: block; text-align: center;"><b>Roles</b></label>
          <select class="form-select form-control"
                  aria-label="Default select example"
                  id="role2" th:name="role"
                  multiple="multiple" size="2">
            <option value="ROLE_ADMIN">ADMIN</option>
            <option selected value="ROLE_USER">USER</option>
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Edit">
      </div>
    </div>
  </div>
  </form>
</div>
</div>
</div>
</div>


<body>
<div class="container-xxl">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav">
        <div class="navbar-header">
          <b class="navbar-brand" th:text="${user2.getEmail()}">...</b>
          <b class="navbar-brand">with roles:</b>
          <b class="navbar-brand" th:each="role : ${user2.roles}"
             th:value="${role.id}"
             th:text="${role.name} == 'ROLE_USER' ? 'USER ' : 'ADMIN '" >...</b>
        </div>
      </ul>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-xxl">

  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-info">User</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>
          <b>Admin Panel</b>
        </h1>
      </div>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#admin" role="tab"> All users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#create" role="tab"> New User</a>
        </li>
      </ul>


      <!-- Table Start-->

      <div class="tab-content">
        <div class="tab-pane active in" id="admin" role="tabpanel">
          <div class="card-block">
            <h1><small>All users</small></h1>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Roles</th>

                <th>Edit</th>
                <th>Delete</th>

              </tr>
              </thead>

              <tbody>
              <tr th:each="user : ${users}">
                <td th:text="${user.id}">...</td>
                <td th:text="${user.username}">...</td>
                <td th:text="${user.surname}">...</td>
                <td th:text="${user.age}">...</td>
                <td th:text="${user.email}">...</td>
                <td>
                                                <span th:each="role : ${user.roles}"
                                                      th:value="${role.id}"
                                                      th:text="${role.name} == 'ROLE_USER' ? 'USER ' : 'ADMIN '" >role</span>
                </td>


                <td>
                  <a class="btn btn-primary eBtn" th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a>
                </td>


                <td>
                  <a class="btn btn-danger delBtn" th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="create" role="tabpanel">
          <form action="#" th:action="@{/admin/user-create}" th:object="${user}" th:method="POST">
            <div class="form-group">
              <label class="col-form-label" for="name" style="display: block;
                                                                        text-align: center;"><b>Name</b></label>
              <input class="form-control" id="name" name="name" type="text" value="" placeholder="Name"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="age" style="display: block;
                                                                        text-align: center;"><b>Age</b> </label>
              <input class="form-control" type="number" step="1" min="1" max="150" id="age" name="age" value="" placeholder="Age"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="surname" style="display: block;
                                                                        text-align: center;"><b>Last name</b>  </label>
              <input class="form-control" id="surname" name="surname" type="text" value="" placeholder="Last name"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="email" style="display: block;
                                                                        text-align: center;"><b>Email</b>  </label>
              <input class="form-control" id="email" name="email" type="text" value="" placeholder="Email"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="password" style="display: block;
                                                                        text-align: center;"><b>Password</b> </label>
              <input class="form-control" id="password" name="password" type="text" value="" placeholder="Password"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="roles" style="display: block;
                                                                        text-align: center;"><b>Roles</b> </label>
              <select class="form-select form-control" aria-label="multiple select example" id="roles"
                      name="role" size="2" multiple="multiple" >
                <option value="ROLE_ADMIN">ADMIN</option>
                <option selected value="ROLE_USER">USER</option>
              </select>
            </div>
            <center><button type="submit" class="btn btn-success" >Add new user</button></center>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</body>
<script>
  $('#editingModal').modal();
</script>
</body>
</html>

</html>